./CodeAssignmentPeerIslands.Application/bin/*
./CodeAssignmentPeerIslands.Application/obj/*
./CodeAssignmentPeerIslands.Domain/bin/*
./CodeAssignmentPeerIslands.Domain/obj/*
./CodeAssignmentPeerIslands.Infra/bin/*
./CodeAssignmentPeerIslands.Infra/obj/*
./CodeAssignmentPeerIslands.Service/bin/*
./CodeAssignmentPeerIslands.Service/obj/*